body
{
    /* background: wheat; */
    width: 96%;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: large;
    /* background-color: #c2b6b6; */
    /* font-family: arial; */
    /* font-family: Helvetica; */
    /* font-family: Georgia; */
    /* font-family: Verdana; */
    /* font-family: Calibri; */
}

div
{
    margin: 5px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.math
{
    border-style: dashed;
    border-width: thin;
    background-color: wheat;
    padding: 5px;
}

code
{
    background-color: ghostwhite;
    color: #000;
    border-radius: 15%;
    padding: 1px;
    white-space: pre-wrap;
}

.C
{
    background-color: honeydew;

}


.bash, .shell
{
    background-color: ghostwhite; 
}


span.smallcaps
{
    font-variant: small-caps;
}

div.columns
{
    display: flex; 
    gap: min(4vw, 1.5em);
}

div.column
{
  flex: auto;
  overflow-x: auto;
  
}

div.hanging-indent
{
  margin-left: 1.5em;
  text-indent: -1.5em;
  
}

ul.task-list
{
  list-style: none;
  
}

ul.task-list li input[type="checkbox"] 
{
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}

pre > code.sourceCode 
{ 
  white-space: pre;
  position: relative; 
  
}

pre > code.sourceCode > span 
{ 
  display: inline-block;
  line-height: 1.25; 
  
}

pre > code.sourceCode > span:empty 
{ 
  height: 1.2em; 
  
}

.sourceCode 
{ 
  overflow: visible;
}

code.sourceCode > span 
{ 
  color: inherit; 
  text-decoration: inherit; 
  
}

div.sourceCode 
{ 
  margin: 1em 0; 
}

pre.sourceCode 
{ 
  margin: 0; 
  
}

@media screen 
{
  div.sourceCode 
  { 
    overflow: auto;
  }
}

@media print 
{
  pre > code.sourceCode 
  { 
    white-space: pre-wrap; 
    
  }
  pre > code.sourceCode > span 
  {
    text-indent: -5em;
    padding-left: 5em;
  }
}

pre.numberSource code
{
  counter-reset: source-line 0;
  
}

pre.numberSource code > span
{
  position: relative;
  left: -4em;
  counter-increment: source-line;
  
}

pre.numberSource code > span > a:first-child::before
{
  content: counter(source-line);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px; width: 4em;
  color: #aaaaaa;
  
}

pre.numberSource
{
  margin-left: 3em;
  border-left: 1px solid #aaaaaa;
  padding-left: 4px;
  
}

@media screen
{
  pre > code.sourceCode > span > a:first-child::before 
  {
    text-decoration: underline;
  }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { color: #008000; } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { color: #008000; font-weight: bold; } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */

.display.math
{
  display: block;
  text-align: center;
  margin: 0.5rem auto;
  
}

.displayInlineMath .math, .displayInlineMath .display
{
  display: inline;
  border-style: none;
  background-color: whitesmoke;
  padding: 0px;
}

table {
  color: #000;
  border-collapse: collapse; /* Removes space between cell borders */
  width: 100%; /* Adjust as needed */
  margin: 0 auto; /* Centers table */
}

th, td {
  border: 1px solid #ddd; /* Defines cell borders */
  padding: 8px 16px; /* Adds padding for readability */
  text-align: left; /* Adjust as needed */
}

th {
  background-color: #eee; /* Highlights headers */
  font-weight: bold; /* Bold text for headers */
}

tr:nth-child(even) { /* Alternating row background */
  background-color: #f2f2f2;
}


.theQuote
{
    font-style: italic;
    font-weight: bold;
}


.chapterDivider
{
    width: 90%;
    height: 8px;
    border-radius: 5px;
    background: repeating-linear-gradient(45deg, black, transparent, violet, indigo, blue, green, yellow, orange, red 100px);
}

.infoBox
{
    color: #000;
    /* Inner border */
    border-width: 3px;
    border-style: ridge;
    border-color: #000;
    background: rgb(208, 225, 225);
    padding: 1px 7px;
}

.warningEmoji::before
{
    content: "\26A0";
    font-size: 24px;
}

.music_M8::before
{
    content: "\266B";
    font-size: 14px;
}

.staffOfHermis::after
{
    content: "\269A";
    top: -0.5em;
    font-size: smaller;
    position: relative;
}

.C99Symbol::before
{
    border-radius: 70%;
    border-color: black;
    border-style: double;
    content: "C99";
    font-weight: bold;
    background: black;
    color: white;
}

.QandA::before
{
    border-radius: 70%;
    border-color: black;
    border-style: double;
    content: "Q&A";
    font-weight: bold;
    background: black;
    color: white;
}

.circled0::after
{
    content: "\24EA";
}

.circled1::after
{
    content: "\2460";
}

.circled2::after
{
    content: "\2461";
}

.circled3::after
{
    content: "\2462";
}

.circled4::after
{
    content: "\2463";
}

.circled5::after
{
    content: "\2464";
}

.circled6::after
{
    content: "\2465";
}

.circled7::after
{
    content: "\2466";
}

.circled8::after
{
    content: "\2467";
}

.circled9::after
{
    content: "\2468";
}

.QandA_question
{
    color: red;
    background-color: wheat;
    border-radius: 5px;
    padding: 1px 7px;
}

.QandA_question pre, .QandA_question code, .QandA_question math
{
    color: black;
}

.QandA_answer
{
    color: rgb(8, 8, 78);
    background-color:lightblue;
    border-radius: 5px;
    padding: 1px 7px;
}

.QandA_answer pre, .QandA_answer code, .QandA_answer math
{
    color: black;
}

.hr1ExrcPrj
{
    width: 98%;
    border-style: ridge;
    border-color: blue;
    background-color: red;
    border-width: 2px;
    margin: 0.5rem;
    padding: 1px;
}

.unicode_UPWARDS_ARROW::after
{
    content: "\2191";
    /* font-size: 24px; */
}

.unicode_LINK_SYMBOL::after
{
  /* 1F517 ;;; 🔗 ;;; LINK SYMBOL */
    content: "\1F517";
    /* font-size: 24px; */
}

.todo
{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 4%;
    padding: 3px;
    margin: 1px;
}

.todo-pipelined::before
{
    content: "\279F";
    color: grey;
    border-radius: 50%;
    border-style: solid;
    margin-right: 5px;
    padding: 1px;
}

.todo-inprogress::before
{
    content: "\270D";
    color: blue;
    border-radius: 50%;
    border-style: solid;
    margin-right: 5px;
    padding: 1px;
}

.todo-completed::before
{
    content: "\2714";
    color: green;
    border-radius: 50%;
    border-style: solid;
    margin-right: 5px;
    padding: 1px;
}

.todo-rejected::before
{
    content: "\2717";
    color: red;
    border-radius: 50%;
    border-style: solid;
    margin-right: 5px;
    padding: 1px;
}

.todo-onhold::before
{
    content: "\270B";
    color: yellow;
    border-radius: 50%;
    border-style: solid;
    margin-right: 5px;
    padding: 1px;
}